#navbar{
    height: 80px;
    width: 90%;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin: auto;
}
a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}